body {
    margin: 0;
    background-color: black;
    color: #a80000;
    max-height: 100vh;
    overflow: hidden;
}

p {
    margin: 2px 0;
}

#add {
    padding: 12px;
    height: 350px;
    overflow-y: scroll;
}

#counter {
    padding: 12px 0 0 12px;
}

#remove {
    width: 100vw;
    height: 150px;
    padding: 12px;
    border-bottom: #a80000 1px solid;
}