body {
    margin: 0;
    background-color: black;
    color: #a80000;
    max-height: 100vh;
    overflow: hidden;
}

p {
    margin: 2px 0;
}

#add {
    padding: 12px;
    height: 100%;
    overflow-y: scroll;
}

#remove {
    width: 100vw;
    height: 200px;
    padding: 12px;
    border-bottom: #a80000 1px solid;
}